body {
  background: linear-gradient(180deg, #424242 0%, #424242 100%);
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
button {
  border-radius: 6px;
  border: 1px solid black;
  padding: 0px;
  margin: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
button:focus {
  outline: none;
}
input {
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 24px;
  width: 40%;
  min-width: 350px;
  padding: 3px;
}
.particles2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.title-text {
  font-size: 24px;
  margin: 8px;
  font-weight: bold;
}
.button-text {
  font-size: 16px;
  margin: 8px;
  font-weight: bold;
}
