body {
  background: linear-gradient(
    180deg,
    rgba(0, 1, 135, 1) 0%,
    rgba(125, 125, 125, 1) 100%
  );
  min-height: 100vh;
  overflow-x: hidden;
}
button {
  border-radius: 6px;
  border: 1px solid black;
  padding: 0px;
  margin: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
button:focus {
  outline: none;
}
.particles2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
