.selectors {
}
.selectors .content {
}
.selectors .content .card {
  position: relative;
  width: 100%;
  min-height: 300px;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  cursor: pointer;
  border: 0px solid black;
  text-align: center;
}
.selectors .content .card:hover {
  transform: scale(1.01);
}
.selectors .content .card .content {
  text-align: center;
}
.selectors .content .card .content .text {
  color: white;
  text-shadow: 2px 2px 5px #000000;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.selectors .content .card .content img {
  object-fit: contain;
}
.selectors .content .html-card {
  position: relative;
  width: 100%;
  min-height: 300px;
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  cursor: pointer;
  border: 1px solid black;
}
.selectors .content .html-card .content {
  padding: 35px;
}
.selectors .content .html-card .content img {
  height: 135px;
  object-fit: contain;
}
