.news_card {
  width: 300px;
  background-color: white;
  border-bottom: 3px solid red;
  --marginTopAndBottom: 35px;
  --marginLeftAndRight: 25px;
  margin: 25px;
}
.news_card img {
  width: 100%;
}
.news_card h1 {
  font-size: 18px;
  margin: var(--marginTopAndBottom);
  margin-left: var(--marginLeftAndRight);
  margin-right: var(--marginLeftAndRight);
}
.news_card h2 {
  font-size: 15px;
  margin: var(--marginTopAndBottom);
  margin-left: var(--marginLeftAndRight);
  margin-right: var(--marginLeftAndRight);
}
.news_card p {
  text-align: left;
  font-size: 12px;
  margin: var(--marginTopAndBottom);
  margin-left: var(--marginLeftAndRight);
  margin-right: var(--marginLeftAndRight);
}
.news_card a {
  color: red;
  text-decoration: none;
  margin: var(--marginTopAndBottom);
  margin-left: var(--marginLeftAndRight);
  margin-right: var(--marginLeftAndRight);
}
