.header {
  position: relative;
  text-align: left;
  padding: 10px;
  color: #2a2a2a;
  background-color: white;
  margin-bottom: 20px;
}
.header .content {
  display: inline-flex;
  width: 100%;
}
.header .content table {
  width: 75%;
  text-align: center;
  margin-top: 17.5px;
}
.header .content table td {
  font-size: 28px;
  vertical-align: bottom;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.header .content table td:hover {
  transform: scale(1.05);
}
.header .content .img {
  width: 75px;
}
.header .content .img img {
  width: 100%;
}
.header .content .directory .divider {
  margin-top: -8.5px;
}
