@media (max-width: 780px) {
  .locationsNav {
    top: 20%;
    position: -webkit-sticky;
    position: sticky;
  }
}
@media (min-width: 799px) {
  .locationsNav {
    top: 5%;
    position: -webkit-sticky;
    position: sticky;
  }
}
.locationsNav button {
  margin: 5px;
  width: 175px;
  height: 50px;
  font-size: 20px;
}
