.about_us {
  background-image: url("./img/bg-black.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
@media screen and (max-width: 750px) {
  .about_us {
    background-size: auto 100%;
  }
}
.textblock {
  background-color: var(--globalBackgroundColor);
  padding: var(--globalTextPadding);
  min-height: 660px;
}
.textblock h2 {
  margin-top: 100px;
}
