.bulletin_board {
  width: 100%;
  min-width: 500px;
  max-width: 700px;
  position: relative;
}
.bulletin_board .title {
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bulletin_board .wrapper {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 65%;
  -webkit-transform: translate(-50%, -65%);
  -ms-transform: translate(-50%, -65%);
  transform: translate(-50%, -65%);
  overflow-y: auto;
  height: 15vw;
}
.bulletin_board .wrapper .text {
  width: 85%;
}
.bulletin_board img {
  width: 100%;
}
